@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(Fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url(Fonts/static/JosefinSans-Light.ttf);
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url(Fonts/static/JosefinSans-Medium.ttf);
}

@font-face {
  font-family: 'JosefinSans-VariableFont';
  src: url(Fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'DancingScript-VariableFont_wght';
  src: url(Fonts/DancingScript-VariableFont_wght.ttf);
}

/* Navbar.css */
.navbar {
    background-color: #BC2D25;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 1535px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: ghostwhite;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'JosefinSans-VariableFont';
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: 'JosefinSans-VariableFont';
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FFD700;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }

/*------------------------------------------ main page ------------------------------------------ */

/* Intro section */
.notepad-background {
  background-color: #FFF79A;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 100% 32px;
  background-position: top;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1535px;
  margin: 0 auto;
  height: 686px;
}

.notepad-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 2px;
  height: 686px;
  background-color: red;
}

.notepad-background .content1,
.notepad-background .content2 {
  display: flex;
  justify-content: center; 
}

.notepad-background .content1 {
  margin-top: 87px; 
  font-family: 'JosefinSans-VariableFont';
  font-size: 23px;
}

.notepad-background .content2 {
  font-family: 'DancingScript-VariableFont_wght';
  font-size: 180px;
  line-height: 0;
  white-space: nowrap;
  margin-top: -4%;
}

.notepad-background .content3 {
  font-family: 'JosefinSans-Light';
  font-size: 30px;
  white-space: nowrap;
  margin-top: -2.4%;
  font-weight: bold;
}

.notepad-background .content4{
  font-family: 'JosefinSans-Light';
  font-size: 20px;
  white-space: nowrap;
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.notepad-background .content4:hover{
  color: #BC2D25;
}

.cta-button {
  background-color: #D9534F;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  margin-top: 47px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #C9302C; 
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

/* 2nd section */

.scroll-section-background {
  width: 100%;
  max-width: 1535px;
  margin: 0 auto;
  background: linear-gradient(135deg, #BC2D25 0%, #D9534F 100%);
  height: 360px;
  margin-top: 20px;
}

.scroll-content{
  display: flex;
  flex-direction: column;
}

.scroll-content p{
  text-align: center;
  font-weight: bold;
  font-family: 'RobotoCondensed-Bold';
  font-size: 60px;
  color: #F9F6F2;
  margin-top: 40px;
}

.scroll-content div{
  width: 50%;
  margin: 0 auto;
}

.scroll-content div p{
  text-align: center;
  font-family: 'JosefinSans-Light';
  font-size: 22px;
  color: #F9F6F2;
  margin-top: 40px;
  margin-top: -10px;
}

.get-started-button{
  background-color: #D9534F;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 47px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.get-started-button:hover {
  background-color: #FFF79A; 
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  color: black;
}

/*------------------------------------------ reactive ------------------------------------------ */
  
@media (max-width: 814px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 10px 0;
  }

  .burger {
    display: block;
  }

  /* main page */

  .notepad-background {
    height: 650px; 
  }

  .notepad-background::before {
    left: 10px; 
    height: 650px; 
  }

  .notepad-background .content1 {
    font-size: 3vw;
  }

  .notepad-background .content2 {
    font-size: 19vw; 
  }

  .notepad-background .content3 { 
    font-size: 4vw;
  }

}

@media (max-width: 434px) {

  /* main page */

  .notepad-background {
    height: 500px; 
  }

  .notepad-background::before {
    left: 10px; 
    height: 500px; 
  }

  .notepad-background .content1 {
    font-size: 20px;
    margin-top: 55px; 
  }

  .notepad-background .content2 {
    font-size: 11vh; 
  }

  .notepad-background .content3 { 
    font-size: 20px;
    margin-top: 5px;
  }

}

@media (max-width: 360px) {

  /* main page */

  .notepad-background::before {
    left: 5px; 
  }

  .notepad-background .content2 {
    font-size: 10.8vh; 
  }

  .notepad-background .content3 { 
    font-size: 2.2vh;
    margin-top: 5px;
  }

  .notepad-background .content4 { 
    font-size: 2.2vh;
  }

}

