* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(Fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'JosefinSans-Light';
  src: url(Fonts/static/JosefinSans-Light.ttf);
}

@font-face {
  font-family: 'JosefinSans-Medium';
  src: url(Fonts/static/JosefinSans-Medium.ttf);
}

@font-face {
  font-family: 'JosefinSans-VariableFont';
  src: url(Fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'DancingScript-VariableFont_wght';
  src: url(Fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'FiraSans-Regular.ttf';
  src: url(Fonts/FiraSans-Regular.ttf);
}

/* Navbar.css */
.navbar {
  background-color: #BC2D25;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1535px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo a {
  color: ghostwhite;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'JosefinSans-VariableFont';
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: ghostwhite;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'JosefinSans-VariableFont';
  transition: color 0.3s ease;
}

.nav-links ul li:nth-child(4) a, .nav-links ul li:nth-child(5) a {
  padding: 8px 20px; 
  border-bottom: 2px solid #FFF79A; 
  border-top: 2px solid #FFF79A;
  transition: all 0.3s ease-in-out;
}

.nav-links ul li:nth-child(4) a:hover, .nav-links ul li:nth-child(5) a:hover {
  background-color: #FFF79A; 
  color: black; 
  border-bottom: 2px solid black; 
}

.nav-links a:hover {
  color: #FFD700;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/*------------------------------------------ main page ------------------------------------------ */

/* Intro section */
.notepad-background {
  background-color: #FFF79A;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 100% 32px;
  background-position: top;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1535px;
  margin: 0 auto;
  height: 694px;
}

.notepad-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 2px;
  height: 694px;
  background-color: red;
}

.notepad-background .content1,
.notepad-background .content2 {
  display: flex;
  justify-content: center; 
}

.notepad-background .content1 {
  margin-top: 87px; 
  font-family: 'JosefinSans-VariableFont';
  font-size: 23px;
}

.notepad-background .content2 {
  font-family: 'DancingScript-VariableFont_wght';
  font-size: 180px;
  line-height: 0;
  white-space: nowrap;
  margin-top: 120px;
}

.notepad-background .content3 {
  font-family: 'JosefinSans-Light';
  font-size: 30px;
  white-space: nowrap;
  margin-top: 170px;
  font-weight: bold;
}

.notepad-background .content4{
  font-family: 'JosefinSans-Light';
  font-size: 20px;
  white-space: nowrap;
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.notepad-background .content4:hover{
  color: #BC2D25;
}

.cta-button {
  background-color: #D9534F;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  margin-top: 52px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #C9302C; 
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

/* 2nd section */

.scroll-section-background {
  width: 100%;
  max-width: 1535px;
  margin: 0 auto;
  background: linear-gradient(135deg, #BC2D25 0%, #D9534F 100%);
  height: 360px;
  margin-top: 20px;
  margin-top: 3px;
}

.scroll-content{
  display: flex;
  flex-direction: column;
}

.scroll-content p{
  text-align: center;
  font-weight: bold;
  font-family: 'RobotoCondensed-Bold';
  font-size: 60px;
  color: #F9F6F2;
  margin-top: 40px;
}

.scroll-content div{
  width: 50%;
  margin: 50px auto;
}

.scroll-content div p{
  text-align: center;
  font-family: 'JosefinSans-Light';
  font-size: 22px;
  color: #FFF79A;
  margin-top: 40px;
  margin-top: -10px;
}

.get-started-button{
  background-color: #D9534F;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.get-started-button:hover {
  background-color: #FFF79A; 
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  color: black;
}

/*------------------------------------------ footer ------------------------------------------ */

.footer {
  width: 100%;
  max-width: 1535px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  background-color: #FFF79A;
  margin: 0 auto;
  padding: 50px 0;
}

/* Section 1 */
.footer-section1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 10px 20px;
}

.footer-section1 p {
  font-size: 22px;
  font-weight: bold;
  font-family: 'JosefinSans-VariableFont';
  margin-left: 20px;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  cursor: pointer;
}

/* Section 2 */
.footer-section2 {
  display: flex;
  gap: 50px;
  width: 100%;
  padding-top: 60px;
  flex-wrap: wrap; 
  justify-content: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
  margin-left: 20px;
}

.footer-title {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  font-family: 'RobotoCondensed-Bold';
}

.footer-list p {
  font-size: 16px;
  font-family: 'JosefinSans-VariableFont';
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footer-list p:hover {
  color: #D04741;
}

/*------------------------------------------ notes page ------------------------------------------ */

.note-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1535px;
  display: flex;
}

.notes-navbar-container{
  display: flex;
  margin-top: 15px;
}

.notes-navbar-icons{
  background: #2C2C2A;
  border: none;
  color: ghostwhite;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;
}

/* left section */
.note-saved{
  width: 350px;
  padding: 0 10px;
  box-shadow: 0px px 10px rgba(0, 0, 0, 0.2); 
  border-right: 3px solid black;
  height: 100vh;
  background-color: #BC2D25;
}

.note-saved p{
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  font-family: 'FiraSans-Regular.ttf';
  font-weight: 500;
  color: ghostwhite;
}

.note-saved p::after{
  text-decoration: underline;
}

/* right section */
.note-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1187px;
  background-color: #2C2C2A;
}

input{
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  margin-bottom: 15px;
  outline: none;
  transition: border 0.3s ease-in-out;
  border: transparent;
  border-bottom: 3px solid #808080;
  margin-left: 7px;
  width: 380px;
  color: white;
}

.editor-content-container{
  border: 3px solid #808080;
  margin: 0 10px 0 5px;
  border-radius: 5px;
}

.toolbar-container {
  display: flex;
  padding: 8px 0 2.5px 8px;
  border-bottom: 1px solid #808080;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  white-space: nowrap; 
  scrollbar-width: thin; 
  scrollbar-color: #808080 transparent; 
}

.toolbar-container::-webkit-scrollbar {
  width: 1px; 
}

.toolbar-container::-webkit-scrollbar-thumb {
  background: #808080; 
  border-radius: 3px; 
}

.toolbar-container::-webkit-scrollbar-track {
  background: transparent; 
}

.toolbar-icons {
  background: transparent;
  flex-wrap: wrap;
  border: none;
  color: ghostwhite;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.toolbar-icons:hover {
  background: rgba(255, 255, 255, 0.1)
}

.toolbar-icons:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.5);
}

.color-picker-wrapper {
  position: relative;
  display: inline-block;
}

.hidden-color-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.editor-container .ProseMirror {
  outline: none !important; 
  border: none !important; 
  /* height: 440px; */
  height: 65vh;
  padding: 10px;
  overflow: auto;
  background-color: white;
  color: black;
}

.editor-container .ProseMirror::-webkit-scrollbar {
  width: 6px; 
}

.editor-container .ProseMirror::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  border-radius: 1px;
}

.editor-container .ProseMirror::-webkit-scrollbar-track {
  background: transparent;
}

.bottom-navbar{
  display: flex;
  border-top: 1px solid #808080;
}

.notes-bottom-navbar-icons{
  background: #2C2C2A;
  border: none;
  color: ghostwhite;
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease;
}

/*------------------------------------------ reactive ------------------------------------------ */

/* Width */
@media (max-width: 904px) {

  /* main page */
  .scroll-section-background {
    height: 400px;
  }

  .scroll-content p{
    font-size: 50px;
  }

  .scroll-content div{
    width: 80%;
  }

}

@media (max-width: 815px) {
  /* navbar */
  .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }

  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 10px 0;
  }

  .nav-links ul li{
    margin-top: 15px;
  }

  .nav-links ul li:nth-child(5) a, .nav-links ul li:nth-child(6) a {
    border: none;
  }
  
  .nav-links ul li:nth-child(5) a:hover, .nav-links ul li:nth-child(6) a:hover {
    background-color: #333; 
    color: white; 
  }

  .burger {
    display: block;
  }

  /* main page */

  .notepad-background {
    height: 650px; 
  }

  .notepad-background::before {
    left: 10px; 
    height: 650px; 
  }

  .notepad-background .content1 {
    font-size: 3vw;
  }

  .notepad-background .content2 {
    font-size: 19vw; 
  }

  .notepad-background .content3 { 
    font-size: 4vw;
  }

  /* notes page */

  .note-container {
    flex-direction: column-reverse; 
  }

  .note-saved {
    width: 100%;
    border-right: none;
    border-top: 3px solid black; 
    padding: 10px 0;
  }

  .note-saved p {
    margin-top: 25px;
    text-align: center;
    font-size: 32px;
  }

  .editor-content-container{
    margin-bottom: 10px;
  }

}

@media (max-width: 549px) {
  
  /* main page */
  .scroll-content div{
    width: 100%;
  }

  /* notes page */
  input{
    width: 95%;
  }
  
}

@media (max-width: 434px) {

  /* main page */

  .notepad-background {
    height: 500px; 
  }

  .notepad-background::before {
    left: 10px; 
    height: 500px; 
  }

  .notepad-background .content1 {
    font-size: 20px;
    margin-top: 15%; 
  }

  .notepad-background .content2 {
    font-size: 11vh; 
    margin-top: 25%;
  }

  .notepad-background .content3 { 
    font-size: 20px;
    margin-top: 29%;
  }

  .scroll-content p{
    font-size: 40px;
  }

  .scroll-content div{
    width: 95%;
    margin-top: 60px;
  }

  .get-started-button{
    margin-top: 0px;
  }

}

@media (max-width: 413px) {
  /* footer */

  .footer-section1 {
    justify-content: center;
  }

  .social-icons {
    margin-top: 30px;
  }
}

@media (max-width: 395px) {

  /* main page */

  .notepad-background::before {
    left: 8px;  
  }

  .notepad-background .content3 { 
    font-size: 18.5px;
  }

  .scroll-content p{
    font-size: 35px;
  }


}


@media (max-width: 361px) {

  /* main page */

  .notepad-background::before {
    left: 5px; 
  }

  .notepad-background .content1 {
    margin-top: 19%; 
  }

  .notepad-background .content2 {
    font-size: 10.8vh; 
  }

  .notepad-background .content3 { 
    font-size: 2.2vh;
    margin-top: 31%;
  }

  .notepad-background .content4 { 
    font-size: 2.2vh;
  }

  .scroll-content p{
    font-size: 30px;
  }

  .scroll-content div{
    width: 100%;
    margin-top: 55px;
  }



}

